# Ignore Python bytecode
__pycache__/
*.pyc

.env

# Ignore virtual environment
.venv/

# Ignore instance folder \
venv/

# Ignore instance folder 
instance/

# Ignore other common files
.DS_Store
*.log

#ignore flask session
flask_session/
