# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore virtual environment
.venv/

# Ignore instance folder (if it contains sensitive info like config/secrets)
instance/

# Ignore other common files
.DS_Store
*.log
